<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>File storage</title>
      {% endif %}
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
      <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/html">
      <link href="{{ url_for('static', filename='css/docs.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='file_S.ico') }}" rel="icon">

  </head>

  <header>
    <div class="navbar bg-success" >
        {% if session.logged_in %}
            <a class="navbar-brand" href="/home/{{ session.username }}">
            <img style="max-width: 180px; margin-top: -20px"
                 src="{{ url_for('static', filename='images/mainlogo1.png') }}">
            </a>
        {% else %}
        <a class="navbar-brand" href="/">
            <img style="max-width: 180px; margin-top: -20px"
                 src="{{ url_for('static', filename='images/mainlogo1.png') }}">
        </a>
        {% endif %}
        <ul class="nav justify-content-end">

            {% if session.logged_in %}
            <a class="nav-link text-light" href="/support/"><p>Support</p></a>
            <a class="nav-link text-light" href="/settings/"><p>{{ session['username'] }}</p></a>
            {% else %}
            <a class="nav-link text-light" href="/support/"><p>Support</p></a>
            <a class="nav-link text-light" href="/login/"><p>Log in</p></a>
            <a class="nav-link text-light" href="/register/"><p>Sign up</p></a>
            {% endif %}
        </ul>
    </div>

  </header>
  <body>
  <div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
                {{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}



  {% block content_body %}{% endblock %}

  </div>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>





</html>

