{% extends 'base.html' %}

{% block content_body %}

    <div style="margin-top: 70px">
    <nav class="breadcrumb">
        {% for path in pathway %}
        <a class="breadcrumb-item text-success" href="/home/{{ pathway[path] }}">{{ path }}</a>
        {% endfor %}
    </nav>

        <ul>
        {% if folders %}
            {% for folder in folders %}
                <li><a class="text-success" href="/home/{{ folders[folder] }}">{{ folder }}</a></li>
            {% endfor %}
        {% endif %}
        {% if files %}
            <ul>
            {% for file in files %}
            <li>
                <a class="text-success" href="/download/{{ files[file] }}">
                    {{ file }}
                </a>
            </li>
            {% endfor %}
            </ul>
        {% endif %}
        </ul>

    </div>


    <div style="margin-left: 40%">
    <form method="post" enctype=multipart/form-data>
        <div class="form-group">

            <input class="form-control" type=file name=file >
        </div>
        <div class="form-group">
            <input class="btn btn-primary bg-success" type=submit value=Upload>
        </div>
        <small id="userhelp" class="form-text text-muted">
            The file should not be very large
        </small>
    </form>
    </div>
<hr>



<div id="accordion" role="tablist">
  <div class="card">

	    <div class="card-header" role="tab" id="headingOne">
	      <h5 class="mb-0">
	        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
            class="text-success">
	          Rename file
	        </a>
	      </h5>
	    </div>

	    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
             data-parent="#accordion">
	      <div class="card-body">
	        <div style="margin-right: 1vw; max-width: 400px;margin-bottom: 3%">
                <form method="post" action="">
                    <h6>You can change the file name in this directory.</h6>

                        <div class="form-group">
                            <input type="text" class="form-control" id="InputOldFilename" placeholder="File name"
                                   name="rename_file_old" value="{{ request.form.rename_file_old }}">
                            {% if error_rename_file %}
                                <small id="userhelp" class="form-text text-muted">
                                    {{ error_rename_file }}
                                </small>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="InputNewFilename"
                                   placeholder="New file name"
                                   name="rename_file_new" value="{{ request.form.rename_file_new }}">
                            {% if error_fp %}
                            <small id="userhelp" class="form-text text-muted">
                                {{ error_fp }}
                            </small>
                            {% endif %}
                        </div>
                    <button type="submit" class="btn btn-primary bg-success" style="width: 100%">Change</button>
                </form>
            </div>
	      </div>
	    </div>

  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed text-success" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
           aria-controls="collapseTwo">
          Delete file
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <div style="margin-right: 1vw; max-width: 400px;margin-bottom: 3%">
                <form method="post" action="">
                    <h6>You can remove the love file from this directory.</h6>

                        <div class="form-group">
                            <input type="text" class="form-control" id="InputFilename" placeholder="File name"
                                   name="del_file" value="{{ request.form.del_file }}">
                            {% if error_del_file %}
                                <small id="userhelp" class="form-text text-muted">
                                    {{ error_del_file }}
                                </small>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="InputDelFilePassword"
                                   placeholder="Password"
                                   name="del_file_password" value="{{ request.form.del_file_password }}">
                            {% if error_del_file_p %}
                            <small id="userhelp" class="form-text text-muted">
                                {{ error_del_file_p }}
                            </small>
                            {% endif %}
                        </div>
                    <button type="submit" class="btn btn-primary bg-success" style="width: 100%">Delete File</button>
                </form>
            </div>
        </div>
    </div>
  </div>

    <hr>

      <div class="card">

            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                class="collapsed text-success">
                  Create new folder
                </a>
              </h5>
            </div>

            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                 data-parent="#accordion">
              <div class="card-body">
                    <div style="margin-right: 1vw; max-width: 400px;margin-bottom: 3%">
                        <form method="post" action="">
                            <h6>You can create new folder in this directory.</h6>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="InputDirectory"
                                           placeholder="Folder name"
                                            name="create_new_folder" value="{{ request.form.create_new_folder }}">
                                    {% if error_create_folder %}
                                    <small id="userhelp" class="form-text text-muted">
                                        {{ error_create_folder }}
                                    </small>
                                    {% endif %}
                                </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="InputFolderPassword"
                                   placeholder="Password"
                                   name="create_folder_password" value="{{ request.form.create_folder_password }}">
                            {% if error_create_folder_p %}
                            <small id="userhelp" class="form-text text-muted">
                                {{ error_create_folder_p }}
                            </small>
                            {% endif %}
                        </div>
                            <button type="submit" class="btn btn-primary bg-success" style="width: 100%">
                                Create Folder
                            </button>
                        </form>
                    </div>
              </div>
            </div>

      </div>

      <div class="card">

            <div class="card-header" role="tab" id="headingFive">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                class="collapsed text-success">
                  Change name directory
                </a>
              </h5>
            </div>

            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive"
                 data-parent="#accordion">
                <div class="card-body">
                    <div style="margin-right: 1vw; max-width: 400px;margin-bottom: 3%">
                        <form method="post" action="">
                            <h6>You can always change the name of the folder where you are located.</h6>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="InputDirectory" placeholder="New dir"
                                           name="new_dir" value="{{ request.form.new_dir }}">
                                    {% if error_dir %}
                                        <small id="userhelp" class="form-text text-muted">
                                            {{ error_dir }}
                                        </small>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="InputDirectoryPassword"
                                           placeholder="Password"
                                           name="new_dir_password" value="{{ request.form.new_dir_password }}">
                                    {% if error_dir_p %}
                                    <small id="userhelp" class="form-text text-muted">
                                        {{ error_dir_p }}
                                    </small>
                                    {% endif %}
                                </div>
                            <button type="submit" class="btn btn-primary bg-success" style="width: 100%">
                                Change name directory
                            </button>
                        </form>
                    </div>
                </div>
            </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h5 class="mb-0">
            <a class="collapsed text-success" data-toggle="collapse" href="#collapseSix" aria-expanded="false"
               aria-controls="collapseSix">
              Delete directory
            </a>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree"
             data-parent="#accordion">
          <div class="card-body">

              <div style="margin-right: 1vw; max-width: 400px;margin-bottom: 3%">
                <form method="post" action="">
                    <h6>You can delete any folder in this directory.</h6>

                        <div class="form-group">
                            <input type="text" class="form-control" id="InputDelFolder" placeholder="Name folder"
                                   name="del_dir" value="{{ request.form.del_dir }}">
                            {% if error_del_dir %}
                                <small id="userhelp" class="form-text text-muted">
                                    {{ error_del_dir }}
                                </small>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="InputDelDirectoryPassword"
                                   placeholder="Password"
                                   name="del_dir_password" value="{{ request.form.del_dir_password }}">
                            {% if error_del_dir_p %}
                            <small id="userhelp" class="form-text text-muted">
                                {{ error_del_dir_p }}
                            </small>
                            {% endif %}
                        </div>
                    <button type="submit" class="btn btn-primary bg-success" style="width: 100%">Delete folder</button>
                </form>
              </div>

          </div>
        </div>
      </div>

</div>


<hr>





{% endblock %}