{% extends 'base.html' %}

{% block content_body %}

<div class="container">
    <br>
    <h5>Please enter email and password</h5>
    <div style="margin-right: 600px">
    <form action="" method="post" >
        <div class="form-group">
            <label for="InputUsername">Email address</label>
            <input type="text" class="form-control" id="InputUsername" placeholder="Enter username" name="username"
                   value="{{ request.form.username }}">
        </div>
        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password"
                   name="password" value="{{ request.form.password }}">
        </div>
        <button type="submit" class="btn btn-primary bg-success">Submit</button>
    </form>
    </div>

    <p>{{ error }}</p>

</div>

{% endblock %}