{% extends 'base.html' %}

{% block content %}

<body>

<div class="container">
    <br>
    <h4>Please login:</h4>
    <br>
    <form action="" class="form-inline" method="post">
        <input type="text" class="from-control" placeholder="Username" name="username"
               value="{{ request.form.username }}">
        <input type="password" class="from-control" placeholder="Password" name="password"
               value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
    </form>

    <p>{{ error }}</p>

</div>

</body>

{% endblock %}