{% extends 'base.html' %}

{% block content_body %}

    <div class="align-middle" style="margin-top: 2%; margin-left: 10%;
    margin-right: 10%; padding: 10px; font-size: 3vw; min-font-size: 18px">
        <p class="text-justify">
            Welcome to the data warehouse. You have files that you would like to save by removing from your computer?
            Can be any text documents, pictures or music? If there is, then you have come to the right place.
        </p>
    </div>





{%endblock %}






