{% extends 'base.html' %}

{% block content_body %}

<div class="container">
    <br>
<div style="margin-right: 1vw; max-width: 400px">
    <div>
        <h6 style="text-align: center">If you want to change email, enter new email and the password for confirmation.</h6>
        <form action="/settings/" method="post" >
            <div class="form-group">
                <input type="email" class="form-control" id="InputEmail" placeholder="Email"
                       name="email"
                       value="{{ request.form.email }}">
                {% if error_email %}
                <small id="pwdhelp" class="form-text text-muted">
                    {{ error_email }}
                </small>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="InputPassword" placeholder="Password"
                       name="email_password"
                       value="{{ request.form.email_password }}">
                {% if error_email_pwd %}
                <small id="userhelp" class="form-text text-muted">
                    {{ error_email_pwd }}
                </small>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary bg-success" style="width: 100%">
                Change Email address
            </button>
        </form>
    </div>
<br>
    <div>
        <h6 style="text-align: center">Change password</h6>
        <form action="/settings/" method="post" >
            <div class="form-group">
                <input type="password" class="form-control" id="InputOldPassword" placeholder="Old password"
                       name="old_password" value="{{ request.form.old_password }}">
                {% if error_old_p %}
                <small id="pwdhelp" class="form-text text-muted">
                    {{ error_old_p }}
                </small>
                {% endif %}
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="InputNewPassword" placeholder="New password"
                       name="new_password" value="{{ request.form.new_password }}">
                {% if error_new_p %}
                <small id="pwdhelp" class="form-text text-muted">
                    {{ error_new_p }}
                </small>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary bg-success" style="width: 100%">
                Change Password
            </button>
        </form>
    </div>
<br>
    <div>
        <h6 style="text-align: center">If you want to finish</h6>
        <a class="btn btn-primary bg-success text-white"
               style="width: 100%" href="/logout/">
            Log out
        </a>

    </div>
<br>
    <div>
        <h6 style="text-align: center">If you delete your accont</h6>
        <a class="btn btn-primary bg-success text-white"
               style="width: 100%" href="/delete/">
            Delete User
        </a>

    </div>


</div>
</div>
{% endblock %}