{% extends 'base.html' %}
{% block content_body %}
<div style="margin-top: 2%">
    <p style="text-align: center">
        Our services takes almost all text extension('txt', 'doc', 'docx', 'docm', 'dotm', 'dotx', 'pdf',
        'xls', 'xlsx', 'xlsm', 'xltx', 'xlt', 'xltm', 'pptx', 'ppt', 'ppsx', 'pps', 'potx', 'pot', 'ppa',
        'ppam'),
        pictures('jpg', 'jpeg', 'tif', 'tiff', 'png', 'gif', 'bmp'),
        videos('avi', 'mkv', 'mp4', 'mpeg')
        and music('wav', 'mp3', 'wma', 'ogg', 'aac', 'flac')
        For all questions, write to the file store.
        <br>
        Email: file_storage@file_storage.com
    </p>
</div>

{% endblock %}