{% extends 'base.html' %}
{% block content_body %}
<div style="margin-top: 2%">
    <p style="text-align: center">
        Our services takes almost all text extension('txt', 'doc', 'docx', 'docm', 'dotm', 'dotx', 'pdf',
        'xls', 'xlsx', 'xlsm', 'xltx', 'xlt', 'xltm', 'pptx', 'ppt', 'ppsx', 'pps', 'potx', 'pot', 'ppa',
        'ppam'),</p>
    <p style="text-align: center">
    pictures('jpg', 'jpeg', 'tif', 'tiff', 'png', 'gif', 'bmp'),
    </p>
    <p style="text-align: center">
        videos('avi', 'mkv', 'mp4', 'mpeg')
    </p>
    <p style="text-align: center">
        and music('wav', 'mp3', 'wma', 'ogg', 'aac', 'flac')
    </p>
    <p style="text-align: center">
        For all questions, write to the file store.
        <br>
        Email: file_storage@file_storage.com
    </p>
</div>

{% endblock %}